{% extends 'Base.html' %}
{% block title %}웹툰 리스트{% endblock %}

{% block content %}
    <table class="table table-dark">
        <thead>
            <th scope="col">#</th>
            <th scope="col">이미지</th>
            <th scope="col">제목</th>
            <th scope="col">작가</th>
        </thead>
        <tbody>
            {% for webtoon in webtoon_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ webtoon.webtoon_img_url }}"></td>
                    <td class="text-center">{{ webtoon.webtoon_name }}</td>
                    <td class="text-center">{{ webtoon.webtoon_author }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
